body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* NAVBAR */
nav {
    display: flex;
    gap: 20px;
    padding: 20px;
    background: #111;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00aaff;
}


.hero {
    height: 60vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('https://images.unsplash.com/photo-1518770660439-4636190af475');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    background: #00aaff;
    padding: 12px 25px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #0088cc;
}

/* CONTENT */
.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

/* CARDS */
.card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tag {
    display: inline-block;
    background: #00aaff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
